[submodule "Engine/vendor/bgfx"]
	path = Engine/vendor/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "Engine/vendor/bx"]
	path = Engine/vendor/bx
	url = https://github.com/bkaradzic/bx
[submodule "Engine/vendor/bimg"]
	path = Engine/vendor/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/entt"]
	path = Engine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = viewport
